apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.global.userdata.pvc }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: hostpath
