apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.global.sqldata.pvc }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
