apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.sslcert.webapp.name }}
type: kubernetes.io/tls
data:
  {{- $cert := genSelfSignedCert "webapp.local" (list "127.0.0.1") (list "webapp.local"   ) 365 }}
  tls.crt: |
    {{ $cert.Cert | b64enc }}
  tls.key: |
    {{ $cert.Key | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.sslcert.prometheus.name }}
  namespace: {{ .Values.global.monitoring.namespace }}
type: kubernetes.io/tls
data:
  {{- $cert := genSelfSignedCert "prometheus.local" (list "127.0.0.1") (list "prometheus.local" ) 365 }}
  tls.crt: |
    {{ $cert.Cert | b64enc }}
  tls.key: |
    {{ $cert.Key | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.sslcert.kibana.name }}
  namespace: {{ .Values.global.logging.namespace }}
type: kubernetes.io/tls
data:
  {{- $cert := genSelfSignedCert "kibana.local" (list "127.0.0.1") (list "kibana.local" ) 365 }}
  tls.crt: |
    {{ $cert.Cert | b64enc }}
  tls.key: |
    {{ $cert.Key | b64enc }}